$space-x:5px;
$space-2x:$space-x*2;
$space-3x:$space-x*3;
$space-4x:$space-x*4;
$space-5x:$space-x*5;
$space-6x:$space-x*6;
$min-weigh:100;
$txt-color:#3A4374;
$main-color:#AD1FEA;
$c-7-coloe:#C75AF6;
$secondary-color:#373F68;
$three-color:#4661E6;
$lB-color:#7C91F9;
$f-color:#647196;
$it-color:#F2F4FF;
$back-color:#060b25;
$white-color:gray;
$sm-color:#F7F8FD;
$b-color:#62BCFA;
$k-color:#F49F85;
$e-color:#656EA3;
$lk-color:#E98888;
$af-color:#D73737;
$ff-color:#ffff;
