.row{
    @extend .flex;
    @extend .between;
    flex-wrap: wrap;
}
@for $i from 1 to 13 {
    .col-#{$i}{
        width: calc((100%/12)* #{$i});
    }
}

@for $i from 1 to 11{
    .pad-#{$i}{
        padding: calc(5px*#{$i});
    }
}

@for $i from 1 to 11 {
    .pad-top-#{$i}{
        padding-top: calc(5px*#{$i});
    }
}
@for $i from 1 to 11 {
    .pad-bottom-#{$i}{
        padding-bottom: calc(5px*#{$i});
    }
}

@for $i from 1 to 11 {
    .pad-left-#{$i}{
        padding-left: calc(5px*#{$i});
    }
}
@for $i from 1 to 11 {
    .pad-right-#{$i}{
        padding-right: calc(5px*#{$i});
    }
}

@for $i from 1 to 11 {
    .mar-#{$i}{
        margin: calc(5px*#{$i});
    }
}
@for $i from 1 to 11 {
    .mar-top-#{$i}{
        margin-top: calc(5px*#{$i});
    }
}
@for $i from 1 to 11 {
    .mar-bottom-#{$i}{
        margin-bottom: calc(5px*#{$i});
    }
}
@for $i from 1 to 11 {
    .mar-left-#{$i}{
        margin-left: calc(5px*#{$i});
    }
}
@for $i from 1 to 11 {
    .mar-right-#{$i}{
        margin-right: calc(5px*#{$i});
    }
}

@media (max-width:350px) {
    .container{
        width: 100%;
    }
    @for $i from 1 to 13 {
        .col-xs-#{$i}{
            width: calc((100%/12)* #{$i}) !important;
          
        }
    }
    
}
@media (min-width:350px) and (max-width:576px){
    .container{
        width: 100%;
    }
    @for $i from 1 to 13 {
        .col-ms-#{$i}{
            width: calc((100%/12)* #{$i}) !important;
            
        }
    }
    
}
@media (min-width:576px) and (max-width:768px){
    .container{
        width: 100%;
    }
    @for $i from 1 to 13 {
        .col-ml-#{$i}{
            width: calc((100%/12)* #{$i}) !important;
        
        }
    }
    
}
@media (min-width:768px) and (max-width:1000px){
    .container{
        width: 100%;
    }
    @for $i from 1 to 13 {
        .col-mlg-#{$i}{
            width: calc((100%/12)* #{$i}) !important;
          
        }
    }
    
}
